.bordeTabla{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.row{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

.botonesAbajo{
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px;
}
