
<div class="borde">
  
  <div class="bordeVerde">

    <div class="d-flex justify-content-center">
      <p  class="fw-normal" style="font-size:x-large"> Mapa </p>
    </div>

    <div class="d-flex justify-content-center">
        <div class="responsive-iframe">
          <!-- Poner el mapa como un string desde la base de datos 
              Link de como sacr un link para html
              https://mappinggis.com/2012/05/como-insertar-un-mapa-de-google-maps-en-tu-web/-->
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10744.20173491223!2d-63.16736586517612!3d-17.808188151771308!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e98ebb632b75%3A0x82de2826c07d333d!2sARENA%20SHOWTIME!5e0!3m2!1ses!2sbo!4v1638459373495!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
      </div>
    </div>
    
  </div>

</div>