<div class="borde">
  
  <div class="bordeVerde">
    
    <div class="d-flex justify-content-center">
      <p  class="fw-normal" style="font-size:x-large"> Crear nuevo edificio</p>
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nombre del edificio" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Coordenadas" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Tipo de edificio" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Dirección" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Distrito" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Cantidad de mujeres" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Cantidad de hombres" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Cantidad de dependencias" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <select class="form-select" aria-label="Default select example">
      <option selected>Estado</option>
      <option value="1">Activo</option>
      <option value="2">Inactivo</option>
    </select>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" >Crear</button>
    </div>

  </div>

</div>