<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B1D1B8">
  <div class="container-fluid" >
    <img src="https://www.gmsantacruz.gob.bo/img/escudo.png" alt="" width="200" height="70" class="d-inline-block align-text-top">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item" >
          <button type="button" class="btn" style="background-color: #B1D1B8" (click)="goToBusiness()" >Unidades Administrativas</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn" style="background-color: #B1D1B8" (click)="goToBuilding()">Edificios</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn" style="background-color: #B1D1B8" (click)="goToOrganization()">Organigrama</button>
        </li>
        <li class="nav-item">
          <button type="button" class="btn" style="background-color: #B1D1B8" (click)="goToSalary()">Escala Salarial</button>
        </li>
      </ul>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">
      <button class="btn btn-outline-dark" type="button" (click)="gotToLogin()">Salir</button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>