<div class="borde">
  
  <div class="bordeVerde">
    
    <div class="d-flex justify-content-center">
      <p  class="fw-normal" style="font-size:x-large"> Revertir</p>
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Fecha" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Motivo" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Documentación" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" >Revertir </button>
    </div>

  </div>

</div>
