<div class = "main">
  <div class = "border">
    <div class="card">
      <div class="card-body">
        <h2> Ingreso </h2>
        <p> Bienvenido a la pagina oficial de recursos administrativos del Gobierno Autónomo Municipal de Santa Cruz de la Sierra</p>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Usuario</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1">

          </div>
          <div class = "paddingBotones">
            <button type="submit" class="btn btn-primary" (click)="goToPagesUser()">Ingresar como usuario</button>
          </div>
          <div class = "paddingBotones">
            <button type="submit" class="btn btn-primary" (click)="goToPages()">Ingresar como administrador</button>
          </div>
          <div class = "paddingBotones">
            <button type="submit" class="btn btn-primary" (click)="goToPagesSuperUser()">Ingresar como super usuario</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>