.bordeVerde{
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
    background-color: #DFEAE2;
    border-radius: 5px;
}
.borde{
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
}
.botones{
    padding-top: 30px;
}