<div class="bordeTabla">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Código empresa</th>
        <th scope="col">Categoría</th>
        <th scope="col">Sub Categoria</th>
        <th scope="col">Clase</th>
        <th scope="col">Descripción de salario</th>
        <th scope="col">Estado</th>
        <th scope="col">Nivel salarial</th>
        <th scope="col">Nombre puesto</th>
        <th scope="col">Haber basico</th>
        <th scope="col">Número de items</th>
        <th scope="col">Costo mensual</th>
        <th scope="col">Costo anual</th>
        <th scope="col">Fecha de aprovación</th>
        <th scope="col">Fecha de cierre</th>
      </tr>
    </thead>
    <tbody *ngFor="let escala of escalas">
      <tr>
        <!-- Manera de conectar con la base de datos  a traves de un servicio
        <th scope="row">{{data.codigo}}</th> -->

        <!-- El Codigo debe estar en forma de boton  o hipervinculo para llevarlo a la información-->
        <th scope="row">
          <button (click)=" goToInfoEscalaSalarial(escala.id)">
            {{escala.id}}
          </button>
        </th>
        <td>{{escala.id_empresa}}</td>
        <td>{{escala.categoria}}</td>
        <td>{{escala.sub_categoria}}</td>
        <td>{{escala.clase}}</td>
        <td>{{escala.descripcion}}</td>
        <td>{{escala.estado}}</td>
        <td>{{escala.nivel_salarial}}</td>
        <td>{{escala.nombre_puesto}}</td>
        <td>{{escala.haber_basico}}</td>
        <td>{{escala.numero_items}}</td>
        <td>{{escala.costo_mensual}}</td>
        <td>{{escala.costo_anual}}</td>
        <td>{{escala.fecha_aprobacion}}</td>
        <td>{{escala.fecha_cierre}}</td>

      </tr>
    </tbody>
  </table>
</div>



<div class = "botonesAbajo">
  <div class="d-flex justify-content-between">
    <div class="botonIzquierda">
    </div>
    <div  class = "paginacion">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="botonDerecha">
    </div>
  </div>
</div>