<div class="bordeTabla">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Listado</th>
        <th scope="col">Categoría</th>
        <th scope="col">Información</th>
        <th scope="col">Item</th>
        <th scope="col">Sub Categoria</th>
        <th scope="col">Clase</th>
        <th scope="col">Descripción de salario</th>
        <th scope="col">Estado</th>
        <th scope="col">Nivel salarial</th>
        <th scope="col">Nombre puesto</th>
        <th scope="col">Haber basico</th>
        <th scope="col">Número de items</th>
        <th scope="col">Costo mensual</th>
        <th scope="col">Costo anual</th>
        <th scope="col">Fecha de aprovación</th>
        <th scope="col">Fecha de cierre</th>
        <th scope="col">Tipo de escala</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Manera de conectar con la base de datos  a traves de un servicio
        <th scope="row">{{data.codigo}}</th> -->

        <!-- El Codigo debe estar en forma de boton  o hipervinculo para llevarlo a la información-->
        <th scope="row">1
        </th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>