.row{
    padding-top: 30px;
    padding-left: 30px;
}
.bordeTabla{
    padding-bottom: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-left: 30px;
}

.borde{
    padding-right: 30px;
    padding-top: 30px;
}