<div class="row">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>Generar reporte por...</button>
      <!--<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>-->
    </div>
  </div>
</div>

<div class="bordeTabla">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Coordenadas</th>
        <th scope="col">Tipo de edificio</th>
        <th scope="col">Distrito</th>
        <th scope="col">Estado</th>
        <th scope="col">Dirección</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- Manera de conectar con la base de datos  a traves de un servicio
        <th scope="row">{{data.codigo}}</th> -->

        <!-- El Codigo debe estar en forma de boton  o hipervinculo para llevarlo a la información-->
        <th scope="row"> 1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="borde">
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" >Descargar</button>
  </div>
</div>