<div class="borde">
  
  <div class="bordeVerde">
    
    <div class="d-flex justify-content-center">
      <p  class="fw-normal" style="font-size:x-large"> Organigrama </p>
    </div>

    <details>
      <summary>
        <h4>Puesto 1</h4>
      </summary>
      <div>
        <p>Desplega elementos </p>
        <details>
          <summary>
            <h4>Puesto 2</h4>
          </summary>
          <div>
            <p>Desplega elementos </p>
          </div>
        </details>
      </div>
    </details>

  </div>
</div>