<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #B1D1B8">
    <div class="container-fluid" >
      <img src="https://www.gmsantacruz.gob.bo/img/escudo.png" alt="" width="200" height="70" class="d-inline-block align-text-top">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
    
      </div>
      <div class="d-flex flex-row-reverse bd-highlight">
        <button class="btn btn-outline-dark" type="button" (click)="gotToLogin()">Salir</button>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>
