<div class="borde">
  
  <div class="bordeVerde">
    
    <div class="d-flex justify-content-center">
      <p  class="fw-normal" style="font-size:x-large"> Crear nueva Unidad Administrativa</p>
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nombre de la unidad administrativa" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Fecha de creación" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Fecha de cierre" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Descripción" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Funciones" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <select class="form-select" aria-label="Default select example">
      <option selected>Estado</option>
      <option value="1">Activo</option>
      <option value="2">Innactivo</option>
    </select>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" >Crear</button>
    </div>

  </div>

</div>
