<div class="borde">
  <div class="bordeVerde">
    <div class="d-flex justify-content-center">
      <p  class="fw-normal" style="font-size:x-large"> Escala Salarial </p>
    </div>

    <dl class="row">
      <dt class="col-sm-3">Codigo:</dt>
      <dd class="col-sm-9">123</dd>
    
      <dt class="col-sm-3">Listado:</dt>
      <!-- Puedes Usar pipes para que visualmente se vea como una fecha al pasarlo de la base de datos-->
      <dd class="col-sm-9"> 1234</dd>
    
      <dt class="col-sm-3">Categoría:</dt>
      <dd class="col-sm-9">4B</dd>

      <dt class="col-sm-3">Item:</dt>
      <dd class="col-sm-9">33</dd>
    
      <dt class="col-sm-3 text-truncate">Información:</dt>
      <dd class="col-sm-9">This can be useful when space is tight. Adds an ellipsis at the end.</dd>

    </dl>
    <div class="botones">
      <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" (click)="goToModificarEsaclaSalarial()">Modificar escala salarial</button>
        <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" (click)="goToModificarsueldo()">Modificar sueldo</button>
      </div>
    </div>
  </div>
    
</div>