<div class="borde">
  
  <div class="bordeVerde">
    
    <div class="d-flex justify-content-center">
      <p  class="fw-normal" style="font-size:x-large"> Modificar escala salarial</p>
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Categoría" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Sub categoría" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Clase" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Descripción de usuario" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Estado" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nivel Salarial" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Nombre del puesto" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Haber básico" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Número de items" aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>


    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" >Modificar</button>
    </div>

  </div>

</div>