<div class="borde">
  <div class="bordeVerde">
    <div *ngIf="empresa" class="d-flex justify-content-center">
      <p  class="fw-normal" style="font-size:x-large">{{empresa.nombre}}</p>
    </div>

    <dl *ngIf="empresa" class="row">
      <dt class="col-sm-3">Codigo: </dt>
      <dd class="col-sm-9">{{empresa.id}}</dd>
    
      <dt class="col-sm-3">Fecha de creacion: </dt>
      <!-- Puedes Usar pipes para que visualmente se vea como una fecha al pasarlo de la base de datos-->
      <dd class="col-sm-9">{{empresa.fecha_creacion}}</dd>
    
      <dt class="col-sm-3">Fecha de cierre:</dt>
      <dd class="col-sm-9">{{empresa.fecha_cierre}}</dd>
    
      <dt class="col-sm-3 text-truncate">Descripción:</dt>
      <dd class="col-sm-9">{{empresa.descripcion}}</dd>
    
      <dt class="col-sm-3">Funciones:</dt>
      <dd class="col-sm-9">{{empresa.funciones}}</dd>

      <dt class="col-sm-3">Estado:</dt>
      <dd class="col-sm-9">{{empresa.estado}}</dd>
      
    </dl>
    <div class="botones">
      <div class="d-flex justify-content-around">
        <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" (click)="goToBajaEmpresa()">Dar de alta</button>
        <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" (click)="goToAltaEmpresa()">Dar de baja</button>
        <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" (click)="goToRevertirEmpresa()">Revertir</button>
        <button type="button" class="btn btn-dark btn-block" style="background-color: #47525E; width: max-content;" (click)="goToModificarEmpresa()">Modificar</button>
      </div>
    </div>
  </div>
    
</div>

