
<div class="bordeTabla">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col">Id Empresa</th>
        <th scope="col">Coordenadas</th>
        <th scope="col">Tipo de edificio</th>
        <th scope="col">Dirección</th>
        <th scope="col">Distrito</th>
        <th scope="col">Estado</th>
        <th scope="col">Cantidad de personas</th>
      </tr>
    </thead>
    <tbody *ngFor="let edificio of edificios">
      <tr>
        <!-- Manera de conectar con la base de datos  a traves de un servicio
        <th scope="row">{{data.codigo}}</th> -->

        <!-- El Codigo debe estar en forma de boton  o hipervinculo para llevarlo a la información-->
        <th scope="row">
          <button (click)=" goToInfoEdificio(edificio.id)">
            {{edificio.id}}
          </button>
        </th>
        <td>{{edificio.nombre}}</td>
        <td>{{edificio.id_empresa}}</td>
        <td>{{edificio.coordenadas}}</td>
        <td>{{edificio.tipo}}</td>
        <td>{{edificio.direccion}}</td>
        <td>{{edificio.distrito}}</td>
        <td>{{edificio.estado}}</td>
        <td>{{edificio.cantidad_personas}}</td>
      </tr>
    </tbody>
  </table>
</div>



<div class = "botonesAbajo">
  <div class="d-flex justify-content-between">
    <div class="botonIzquierda">
    </div>
    <div  class = "paginacion">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="botonDerecha">
    </div>
  </div>
</div>
